<div>
    <div class="relative">
        <div class="bg-pattern h-24 rounded-sm opacity-40"></div>
        <img src="/assets/user.svg" class="w-18 h-18 rounded-full border-2
            border-primary mx-auto absolute left-1/2 transform -translate-x-1/2
            -translate-y-1/2">
    </div>
    <div class="mt-10 flex items-center flex-col">
        <span class="text-xl text-primary font-bold">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</span>
        <div class="flex gap-5 mt-2">
            <div class="flex flex-col items-center">
                <span class="text-sm opacity-70 text-tertiary font-light">Native</span>
                <img
                    class="rounded-md border"
                    width="32px"
                    alt="flag"
                    [src]="flags[native]"
                    />
            </div>
            <div class="flex flex-col items-center">
                <span class="text-sm opacity-70 text-tertiary font-light">Learning</span>
                <img
                    class="rounded-md border"
                    width="32px"
                    alt="flag"
                    [src]="flags[target]"
                    />
            </div>
        </div>
        <div *ngIf="loading">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="227px" height="227px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle cx="50" cy="50" fill="none" stroke="#5c865d" stroke-width="3" r="14" stroke-dasharray="65.97344572538566 23.991148575128552">
                  <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                </circle>
            </svg>
        </div>
        <div class="flex gap-4 mt-6">
            <span class="text-sm font-light text-tertiary">{{followerCount }} followers</span>
            <span class="text-sm font-light text-tertiary">{{followingCount }} following</span>
        </div>
        <button (click)="sendFollowRequest()" *ngIf="isOther" 
        [ngClass]="followState == 'NOTFOLLOWING' ? 'mt-2 bg-tertiary text-white px-4 py-2 rounded-full' : 'bg-white border border-tertiary mt-2 px-4 py-2 rounded-full text-tertiary'">
            <span *ngIf="followState == 'NOTFOLLOWING'">Follow</span>
            <span *ngIf="followState == 'SENT'">Withdraw</span>    
            <span *ngIf="followState == 'FOLLOWING'">Unfollow</span>    
        </button>
    </div>
</div>