<app-top-menu></app-top-menu>
<div class="flex w-[100vw] h-[calc(100vh-5rem)] container mx-auto">
    <div class="flex-1 lg:hidden shadow-post rounded-lg h-80">
        <app-side-profile></app-side-profile>
    </div>
    <div class="flex-[2] flex flex-col">
        <div class="overflow-scroll px-6 pt-1 md:px-0 h-full">
            <div>
                <h1 class="text-xl text-primary bg-secondary bg-opacity-20 p-4 rounded-lg">Edit Information</h1>
                <form [formGroup]="updateForm" class="mt-6 flex flex-col p-4">
                    <div class="flex gap-[10%]" >
                        <div class="flex flex-col w-[45%]">
                            <label class="text-xl" for="name">Name</label>
                            <input formControlName="name" autocomplete="off" class="outline-none border rounded border-primary p-2 mb-4" type="text" id="name">
                        </div>
                        <div class="flex flex-col w-[45%]">
                            <label class="text-xl" for="surname">Surname</label>
                            <input formControlName="surname" autocomplete="off" class="outline-none border rounded border-primary p-2 mb-4" type="text" id="surname">
                        </div>
                    </div>
                    <div class="flex flex-col" >
                        <label class="text-xl" for="email">E-mail address</label>
                        <input formControlName="email" class="border rounded border-primary p-2 mb-4" type="email" name="" id="email">
                    </div>
                    <div class="flex justify-between mt-4 border-t-2 pt-4 border-primary border-opacity-50" >
                        <div class="flex flex-col">
                            <label class="text-xl mb-2" for="native">Native Language</label>
                            <select class="rounded border border-primary p-2" name="" id="native">
                                <option>1</option>
                            </select>
                        </div>
                        <div class="flex flex-col">
                            <label class="text-xl mb-2" for="target">Target Language</label>
                            <select class="rounded border border-primary p-2" name="" id="target">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <input class="p-2 bg-primary rounded-lg text-white px-12 text-l mt-12 self-end" type="submit" value="Update Information">
                </form>
            </div>
            <div class="mt-4">
                <h1 class="text-xl text-primary bg-secondary bg-opacity-20 p-4 rounded-lg">Change Password</h1>
                <form class="mt-6 flex flex-col p-4" action="">
                    <div class="flex flex-col" >
                        <label class="text-xl" for="current-password">Current Password</label>
                        <input autocomplete="off" class="border rounded border-primary p-2 mb-4" type="password" name="" id="current-password">
                    </div>
                    <div class="flex flex-col" >
                        <label class="text-xl" for="password">New Password</label>
                        <input autocomplete="off" class="border rounded border-primary p-2 mb-4" type="password" name="" id="password">
                    </div>
                    <input class="p-2 bg-primary rounded-lg text-white px-12 text-l mt-12 self-end" type="submit" value="Change Password">
                </form>
            </div>
        </div>
    </div>
    <div class="flex-1 md:hidden">
        <app-navigation></app-navigation>
    </div>
</div>