<nav class="container mx-auto flex items-center justify-between h-16 border-b-2 mb-5">
    <div class="flex items-center ml-6" >
        <img src="/assets/logo.svg" width="72px" alt="">
        <span class="font-bold text-primary text-2xl">Correct<span class="text-secondary">In</span></span>
    </div>
    <div class="flex items-center gap-5 mr-6">
        <span class="text-primary text-lg">{{username}}</span>
        <img class="border rounded-full border-primary" src="/assets/user.svg" width="36px" alt="">
    </div>
</nav>