<div class="h-screen flex">
    <div class="flex-1">
        <div class="h-screen flex flex-col justify-between items-center py-20 px-48 lg:py-0 lg:px-0">
            <div class="flex items-center" >
                <img src="assets/logo.svg">
                <span class="font-bold text-primary text-3xl">Correct<span class="text-secondary">In</span></span>
            </div>
            <div class="w-full flex items-center flex-col">
                <h1 class="text-3xl">Login 
                    <span class="font-bold text-primary text-3xl">Correct
                        <span class="text-secondary">In</span>
                    </span>
                </h1>
                <span class="text-black text-opacity-50 text-l" >Login to start learning</span>
                <div class="mt-4 -mb-4 text-lg text-white bg-red-500 bg-opacity-50 border p-2 px-4 rounded-lg" *ngIf="errorMessage.length">{{errorMessage}}</div>
                <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-12 flex flex-col w-[75%]">
                    <div class="flex flex-col" >
                        <label class="text-xl" for="email">E-mail address</label>
                        <input
                            [class.border-red-600]="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
                            formControlName="email" 
                            class="border rounded border-primary p-2 mb-4 outline-none" 
                            type="email" 
                            id="email">
                        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="text-tertiary -mt-4 mb-4">Please enter a valid e-mail</div>
                    </div>
                    <div class="flex flex-col" >
                        <label class="text-xl" for="password">Password</label>
                        <input [class.border-red-600]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                        formControlName="password" class="border rounded border-primary p-2" type="password" name="" id="password">
                        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-tertiary">Please enter a password</div>
                    </div>
                    <button [class.grayscale]="!loginForm.valid && !loading" [disabled]="!loginForm.valid" class="p-2 bg-primary rounded-lg w-28 text-white px-6 text-l mt-4 self-end" type="submit">
                        <span *ngIf="!loading">Login</span>
                        <span *ngIf="loading">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="24px" height="24px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                <circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                                  <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                                </circle>
                            </svg>
                        </span>
                    </button>
                </form>
            </div>
            <div>Don't have an account? <a routerLink="/register" class="text-primary cursor-pointer" >Sign Up</a></div>
        </div>
    </div>
    <div class="flex-1 flex justify-center items-center flex-col gap-16 bg-secondary bg-opacity-50 lg:hidden" >
        <h1 class="text-tertiary text-6xl text-center font-bold" >Learn <br> Languages <br> while <br> Teaching <br> Others</h1>
        <img class="h-[50vh] w-[50vw]" src="assets/login-illustration.svg" alt="">
    </div>
</div>
