<div (click)="togglePopup()" class="relative cursor-pointer">
    <svg
        class="fill-primary"
        xmlns="http://www.w3.org/2000/svg" 
        width="28" height="28" 
        viewBox="0 0 24 24">
        <path 
            d="M18.546 2h-13.069l-5.477 10.986v9.014h24v-9.014l-5.454-10.986zm-3.796 13h-5.5l-2.25-2h-4.666l4.266-9h10.82l4.249 9h-4.669l-2.25 2z"
        />
    </svg>
    <span *ngIf="requests?.length" class="absolute -right-2 top-2 bg-tertiary text-white rounded-full px-2 text-sm">
        {{requests?.length}}
    </span>
</div>
<div #menu class="absolute mt-2 shadow-post w-72 bg-white transform rounded-lg right-1/2 z-50" *ngIf="isOpen">
    <div class="flex justify-around border-y cursor-pointer">
        <div class="flex justify-around text-center bg-right px-2 py-2 w-full text-primary bg-opacity-20">
            <span>Follow Requests</span>
        </div>
    </div>
    <div class="px-2 py-4">
        <div class="flex justify-between items-center" *ngFor="let request of requests">
            <span (click)="navigateByUrl('/profile/' + request.id)" class="cursor-pointer text-primary rounded p-4 w-full">{{request.firstName}} {{request.lastName}}</span>
            <div class="flex gap-2">
                <span (click)="acceptRequest(request.id)" class="fill-primary cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z"/></svg>
                </span>
                <span class="fill-tertiary cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.538l-4.592-4.548 4.546-4.587-1.416-1.403-4.545 4.589-4.588-4.543-1.405 1.405 4.593 4.552-4.547 4.592 1.405 1.405 4.555-4.596 4.591 4.55 1.403-1.416z"/></svg>
                </span>
            </div>
        </div>
        <p class="text-tertiary text-center" *ngIf="requests?.length == 0" >
            There are no follow requests <br> to show.
        </p>
    </div>
</div>

