<div class="p-8 shadow-post rounded-lg">
    <div class="flex justify-between items-center">
        <div class="flex gap-4">
            <img src="/assets/user.svg" class="border rounded-full border-primary w-12 h-12">
            <div class="flex flex-col">
                <span class="text-primary text-lg">Emiliano Espana</span>
                <span class="text-secondary opacity-70" >16 mins ago</span>
            </div>
        </div>
        <div class="flex gap-1" >
            <div class="bg-primary w-1 h-1 rounded-full"></div>
            <div class="bg-primary w-1 h-1 rounded-full"></div>
            <div class="bg-primary w-1 h-1 rounded-full"></div>
        </div>
    </div>
    <div class="mt-6" >
        <span *ngFor="let word of words" 
        class="transition-all
               text-lg
               text-center 
               rounded-md 
               hover:p-2 
               hover:bg-secondary 
               hover:bg-opacity-50
               hover:cursor-pointer"
               >
        {{word}} 
    </span>
    </div>
</div>