@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Outfit', 'sans-serif';
}

.dropdown:focus-within .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
  }